---
import { getLatest, getAllFeeds } from "./get-feed";
import Item from "./item.astro";
import Column from "./item.astro";

// const latest = await getLatest(8);

const all = await getAllFeeds(3);
---

<!-- <section class="bg-neutral-20"> -->
<section class="bg-neutral-10">
  <div class="grid-container">
    <div class="section-header text-center">
      <h5 class="text-overline-lg">Developer Resources</h5>
      <h3 class="section-title">Featured Content</h3>
      <p>Keep up to date with the latest releases from the Neo4j</p>
    </div>

    <div class="grid-x grid-padding-x-lg gap-y-12">
      {
        all.map(({ type, link, icon, cta, items }) => (
          <div class="cell small-12 medium-6 large-3">
            <img src={icon} alt={type} />
            <h5 class="mt-4">{type}</h5>
            <p class="mb-12">
              <a class="arrowed" href={link}>
                {cta}
              </a>
            </p>

            {items.map((item) => (
              <Item {...item} />
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
