---
const languages = [
  {
    name: "JavaScript",
    image:
      "https://dist.neo4j.com/wp-content/uploads/20220228142717/Node.JS.svg",
    links: [
      { url: "#", text: "Building Neo4j Applications with Node.js" },
      { url: "#", text: "Building Neo4j Applications with TypeScript" },
      { url: "#", text: "Neo4j JavaScript Driver Manual" },
    ],
  },
  {
    name: "Python",
    image:
      "https://dist.neo4j.com/wp-content/uploads/20220228142718/Python.svg",
    links: [
      { url: "#", text: "Building Neo4j Applications with Python" },
      { url: "#", text: "Neo4j Python Driver Manual" },
    ],
  },
  {
    name: "Go",
    image: "https://dist.neo4j.com/wp-content/uploads/20220228142715/Go.svg",
    links: [
      { url: "#", text: "Building Neo4j Applications with Go" },
      { url: "#", text: "Neo4j Go Driver Manual" },
    ],
  },
  {
    name: ".NET",
    image: "https://dist.neo4j.com/wp-content/uploads/20220228143043/NET.svg",
    links: [
      { url: "#", text: "Building Neo4j Applications with .NET" },
      { url: "#", text: "Neo4j .NET Driver Manual" },
    ],
  },
  {
    name: "Java",
    image: "https://dist.neo4j.com/wp-content/uploads/20220228142716/Java.svg",
    links: [
      { url: "#", text: "Building Neo4j Applications with Java" },
      { url: "#", text: "Neo4j Java Driver Manual" },
    ],
  },
];
---

<section id="get-started" class="pt-0 pb-0">
  <div class="grid-container p-12">
    <div class="grid-x">
      <div class="cell medium-6 medium-offset-3 text-center">
        <h2>Build an Application with Neo4j &amp; Official Drivers</h2>
        <p>
          Write your first graph-enabled application using full code examples.
          Find your favorite language and get the documentation, sample code,
          and tools you need to start developing with Neo4j today.
        </p>
      </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y pt-12 align-center">
      {
        languages.map((language) => (
          <div class="cell medium-2 medium-auto">
            <div class="language border rounded-md px-4 py-12 mb-8">
              <a href={language.links[0].url} class="block pb-4">
                <img
                  src={language.image}
                  alt={language.name}
                  style="height: 78px"
                />
              </a>
            </div>
            <ul>
              {language.links.map((link) => (
                <li>
                  <a href={link.url}>{link.text}</a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .language {
    border-color: rgb(229, 231, 235);
  }
</style>
