---
const { link, image, overline, text } = Astro.props;
---

<div class="cell large-4 medium-4">
  <a href={link}>
    <div class="card card-minimal-style py-8 px-6">
      <img style={{ maxWidth: "42px" }} src={image} alt={overline} />
      <p class="text-overline mt-4">{overline}</p>
      <p class="font-bold mt-2">{text}</p>
    </div>
  </a>
</div>
