---
import Central from "./content/central.astro";
import Start from "./start.astro";

const usecases = [
  // {
  //   title: "Knowledge Graphs",
  //   image:
  //     "https://dist.neo4j.com/wp-content/uploads/20210601152051/Use-Case-Knowledge-Graphs.png",
  //   description:
  //     "A Neo4j knowledge graph is an insight layer of interconnected data enriched with semantics, so you can reason with the underlying data and use it for complex decision-making.",
  //   link: "https://neo4j.com/use-cases/knowledge-graph/",
  // },
  {
    title: "Recommendations",
    image:
      "https://dist.neo4j.com/wp-content/uploads/20210601152054/Use-Case-Product-Recommendation-System.png",
    description:
      "Graph-powered recommendation engines help companies personalize products, content and services by leveraging a multitude of connections in real time.",
    link: "https://neo4j.com/use-cases/real-time-recommendation-engine/",
  },
  {
    title: "Fraud Detection",
    image:
      "https://dist.neo4j.com/wp-content/uploads/20210601152048/Use-Case-Fraud-Detection-Analysis.png",
    description:
      "Real-time analysis of data relationships is essential to uncovering fraud rings and other sophisticated scams before fraudsters and criminals cause lasting damage.",
    link: "https://neo4j.com/use-cases/fraud-detection/",
  },
  {
    title: "Life Sciences",
    image:
      "https://dist.neo4j.com/wp-content/uploads/20210601152052/Use-Case-Life-Sciences.png",
    description:
      "Pharmaceutical companies, chemical manufacturers and biotech companies are using Neo4j to analyze data in ways not previously not possible without graphs.",
    link: "https://neo4j.com/use-cases/life-sciences/",
  },
];
---

<Central title="Graphs Are Everywhere">
  <p>
    Nodes and Relationships provide the building blocks for a fast, flexible
    data store. Take a look at some of the <a
      href="https://neo4j.com/use-cases/">common graph use cases</a
    > below for inspiration.
  </p>
</Central>

<div class="grid-container">
  <div class="grid-x small-up-1 grid-padding-x-lg grid-padding-y-xl">
    <div class="cell">
      <!-- <div class="p-12 pt-0 rounded-md"> -->
      <div class="grid-x grid-padding-x pt-0">
        {
          usecases.map((usecase) => (
            <div class="usecase card card-minimal-style cell small-12 medium-12 large-4  mb-8">
              <div class="card card-hover-animation bg-transparent border-0 card-full-clickable" />
              <div class="mb-8 use-case-image">
                <img
                  src={usecase.image}
                  alt={usecase.title}
                  style="height: 56px"
                />
              </div>
              <h3 class="h6 card-title m-0">{usecase.title}</h3>
              <p class="use-case-desc">{usecase.description}</p>
              <div class="card-cta">
                <a class="arrowed" href={usecase.link}>
                  Read More
                </a>
              </div>
            </div>
          ))
        }
      </div>
      <!-- </div> -->
    </div>
  </div>
  <Start />
</div>

<style is:global>
  @media all and (min-width: 1030px) {
    .use-case-image {
      height: 64px;
    }
    .use-case-desc {
      height: 148px;
    }
  }
</style>
